@import '../../styles/mixin.scss';

.header {
	width: 100%;
	background-color: var(--semi-dark-blue);

	@include mq(sm) {
		width: min(93.75vw, 96rem);
		margin: 0 auto;
		margin-top: 2.4rem;
		border-radius: 1rem;
	}

	@include mq(lg) {
		width: 9.6rem;
		height: 90vh;
		margin-top: 3.2rem;
	}

	& .content {
		display: grid;
		grid-template-columns: 3.2rem 1fr 2.4rem;
		justify-content: space-between;
		align-items: center;
		padding: 1.8rem 1.6rem;
		height: 100%;

		@include mq(md) {
			grid-template-columns: 3.2rem 1fr 3.2rem;
			padding: 2rem;
		}

		@include mq(lg) {
			grid-template-columns: auto;
			grid-template-rows: 2.56rem repeat(2, 1fr);
			justify-content: center;
			gap: 7.5rem;
			padding: 3.2rem 2.8rem;
		}

		& nav {
			justify-self: center;
		}

		& .image {
			position: relative;
			width: 2.4rem;
			height: 2.4rem;
			border-radius: 50%;
			border: 0.1rem solid var(--white);
			justify-self: center;

			@include mq(sm) {
				width: 3.2rem;
				height: 3.2rem;
			}

			@include mq(lg) {
				align-self: end;
			}
		}
	}
}
