@import '../../styles/mixin.scss';

.layout {
	display: grid;
	gap: 2.4rem;

	@include mq(md) {
		gap: 3.4rem;
	}

	@include mq(lg) {
		width: min(96%, 137.2rem);
		gap: 3.6rem;
		margin: 0 auto;
		grid-template-columns: 9.6rem 1fr;
	}
}

.container {
	width: min(93.75vw, 96rem);
	margin: 0 auto;

	@include mq(lg) {
		width: 100%;
		margin: 0;
		margin-top: 3.2rem;
	}
}
