@import '../../styles/mixin.scss';

.input {
	background-color: transparent;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	caret-color: var(--red);
	font-size: 1.6rem;
	color: var(--white);
	padding-top: 0.2rem;

	@include mq(md) {
		padding-top: 0.6rem;
	}

	&::placeholder {
		color: var(--placeholder-color);
		font-size: 1.6rem;

		@include mq(md) {
			font-size: 2.4rem;
		}
	}
}
