@import '../../styles/mixin.scss';

.search {
	margin-bottom: 2.4rem;

	& .content {
		display: flex;
		gap: 1.6rem;
	}

	& .icon {
		width: 2.4rem;
		height: 2.4rem;

		@include mq(md) {
			width: 3.2rem;
			height: 3.2rem;
		}
	}
}
