@import '../../styles/mixin.scss';

.bookmark {
	background-color: var(--pale-semi-dark-blue);
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 50%;
	display: grid;
	place-items: center;
	position: absolute;
	top: 0.8rem;
	right: 0.8rem;
	z-index: 10;

	@include mq(md) {
		top: 1.6rem;
		right: 2.4rem;
	}

	&:hover {
		background-color: var(--white);

		& svg > path {
			stroke: var(--semi-dark-blue);
			stroke-width: 1.5px;
		}
	}
}
