@import '../../styles/mixin.scss';

.info {
	color: var(--white);

	& .inner {
		display: flex;
		align-items: center;
		font-size: 1.1rem;
		margin-bottom: 0.4rem;

		@include mq(md) {
			font-size: 1.3rem;
		}
	}

	& .category {
		display: flex;
		align-items: center;
		gap: 0.6rem;
	}

	& h3 {
		font-size: 1.4rem;
		line-height: 1;
		font-weight: 500;

		@include mq(md) {
			font-size: 1.8rem;
		}
	}

	&.trending {
		position: absolute;
		left: 1.6rem;
		bottom: 1.6rem;
		z-index: 3;

		@include mq(md) {
			left: 2.4rem;
			bottom: 2.4rem;
		}

		& .inner {
			font-size: 1.2rem;

			@include mq(md) {
				font-size: 1.5rem;
			}
		}

		& h3 {
			font-size: 1.5rem;

			@include mq(md) {
				font-size: 2.4rem;
			}
		}
	}
}
