@import '../../styles/mixin.scss';

.products {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 1.6rem;
	column-gap: 1.5rem;

	@include mq(md) {
		grid-template-columns: repeat(3, 1fr);
		row-gap: 2.4rem;
		column-gap: 3rem;
	}

	@include mq(lg) {
		grid-template-columns: repeat(4, 1fr);
		row-gap: 3.2rem;
		column-gap: 4rem;
	}
}
