@import '../../styles/mixin.scss';

.heading {
	font-size: 2rem;
	font-weight: 300;
	color: var(--white);
	letter-spacing: -0.31px;
	margin-bottom: 2.4rem;

	@include mq(md) {
		font-size: 3.2rem;
		margin-bottom: 3.2rem;
	}

	&.trending {
		@include mq(lg) {
			margin-bottom: 2.5rem;
		}
	}
}
