// .play {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%, -50%);
// 	z-index: 10;
// 	visibility: hidden;
// 	display: flex;
// 	color: var(--white);
// 	font-size: 1.8rem;
// 	gap: 1.9rem;
// 	align-items: center;
// 	background-color: var(--hover-white);
// 	padding: 0.9rem;
// 	padding-right: 2.4rem;
// 	border-radius: 2.85rem;
// }
