@import '../../styles/mixin.scss';

.nav {
	display: flex;
	align-items: center;
	gap: 2.4rem;

	@include mq(md) {
		gap: 3.2rem;
	}

	@include mq(lg) {
		flex-direction: column;
		gap: 4rem;
	}

	& .list {
		& path {
			transition: fill 0.3s ease-in-out;
		}

		&:hover {
			& path {
				fill: var(--red);
			}
		}

		&.active {
			& path {
				fill: var(--white);
			}
		}
	}
}
