@import './mixin.scss';

body {
	background-color: var(--dark-blue);
}

#__next {
	overflow: hidden;
}

main {
	padding-bottom: 6rem;

	@include mq(md) {
		padding-bottom: 5.6rem;
	}

	@include mq(lg) {
		padding-bottom: 5.2rem;
	}
}
