*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

li {
	list-style: none;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

:root {
	--white: hsl(0, 0%, 100%);
	--red: hsl(0, 97%, 63%);
	--dark-blue: hsl(223, 30%, 9%);
	--semi-dark-blue: hsl(223, 36%, 14%);
	--pale-semi-dark-blue: hsla(223, 36%, 14%, 0.8);
	--hover-black: hsla(0, 0%, 0%, 0.4);
	--grayish-blue: hsl(223, 23%, 46%);
	--placeholder-color: hsla(0, 0%, 100%, 0.3);
	--text-gray: hsla(0, 0%, 100%, 0.7);
	--hover-white: hsla(0, 0%, 100%, 0.2);
}
